.header
    .header__wrapper
        .header__header 
            a.header__header__item(href='/') hursun
            .header__header__line
            h3.header__header__item 
        .header__header
            .audio__play
                span.audio__play__span
                span.audio__play__span
                span.audio__play__span
                span.audio__play__span
                span.audio__play__span
            p.header__time(class='header__day')=times
            p.header__time(class='header__time')   
        button.header__menu__button
            .header__menu 
                .header__menu__wrapper
                    .header__menu__items
                        if location =='/'
                            a.header__menu__item(href='/skills') SKILLS
                            a.header__menu__item(href='/works')  WORKS
                        else if location == '/skills'
                            a.header__menu__item(href='/') HOME
                            a.header__menu__item(href='/works')  WORKS
                        else 
                            a.header__menu__item(href='/') HOME
                            a.header__menu__item(href='/skills') SKILLS

                    .header__menu__stuffs click anyhere to backout
                .header__menu__shadow
                                    