%title-32 {
    font-size: 3.2rem;
    font-family: $font-bebas;
}

%title-40 {
font-size: 4rem;
font-family: $font-bebas;
}

%title-64 {
    font-size: 6.4rem;
    font-family: $font-bebas;

    @include media('<phone') {
        font-size: 5.4rem;
    }
    }

%title-96 {
    font-size: 9.6rem;
    font-family: $font-bebas;
}

%title-128 {
    font-size: 12.8rem;
    font-family: $font-bebas;
}

%title-150 {
    font-size: 15rem;
    font-family: $font-bebas;
}

%title-200 {
    font-size: 20rem;
    font-family: $font-bebas;
}