$z-indexes: (
    'preloader',
    'navigation',
    'content'
);

$font-bebas: 'Bebas Neue';
$font-julius: 'Julius Sans One';
$font-nothing: 'Nothing You Could Do';
$font-mont: 'Montserrat';

$ease-out-expo: cubic-bezier(0.19,1,0.22,1);

$color-black: #000000;
$color-white: #ffffff;
$color-red: #D2001A;
