extends ../base.pug

block variables
    -var template = 'home'

block content
    .home 
      .home__wrapper
        section.home__hero
          .home__hero__wrapper
            h1.home__hero__title INDEPENDENT.
            h1.home__hero__title(data-animation='title') CREATIVE <br/> DEVELOPER 
            p.home__hero__para Welcome to my portfolio@2022
          h1.home__hero__text=home.qoute
          .home__bar 
            p.home__bar__text HURSUN Portfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022 HURSUN Portfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022 HURSUNPortfolio@2022
         
        section.home__intro
          p.home__index(data-animation='title') 0 1
          h1.home__intro__greeting(data-animation='title') HEY ! ,
          p.home__intro__introduction I’m <span class='home__intro__span'  data-animation="highlight">Hursun</span> a eighteen years old web developer. Currently based in <span class='home__intro__span' data-animation="highlight">INDIA  </span> #
          img(data-src=home.hursun_image.url data-animation="highlight").home__intro__image
        section.home__interesting  
          p.home__index(data-animation='title') 0 2
          h3.home__interesting__para(data-animation="paragraph")  PASSIONATE ABOUT WEB TECHNOLOGY. I LOVE TO BLEND CREATIVITY AND SOME MADDNESS. I CREATE MEMORABLE WEB EXPERIENCES.
          h3.home__interesting__para(data-animation="paragraph") i usally work in vanilla javascript without framework for small projects using three js for webgl and gsap for animation . i also use framework for bigger projects.
          .home__interesting__works
            a.interesting__works__title(href='/works') WORKS
            p.interesting__works__para(data-animation="paragraph")  I have made many personal project but never made an profitable i am looking forward make profitable projects and many personal project has not been launched yet in web.
        section.home__about
          p.home__index(data-animation='title') 0 3
          .home__about__social 
            h1.about__social__title(data-animation='title') ALSO <br/> AVAILABLE<br/> ON 
            a.about__social__item TWITTER
            a.about__social__item(href='https://www.instagram.com/__hursun_ss__/') instagram
            a.about__social__item linkedin
          p.home__about__journey(data-animation="paragraph") My Coding journey  started two  <br/>years before when it was covid <br/> lockdown.I was bored sitting in <br/> home then suddenly i found my<br/> spark on programming then i <br/> started to work on improving my <br/> skills by self learning through online <br/> tutorials etc.this has lead me to <br/> develop this kind of website and <br/> i am still gonna make more and  <br/>more better and awesome websites.
          .home__about__made 
            h1.about__made__title Portfolio made <br/> by
            p.home__made__para me
            h1.about__made__title Portfolio designed <br/> by
            p.home__made__para me
            a.about__made__me(href='/skills') my skills
          .home__bar 
            p.home__bar__text DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER DEVELOPER UI/UX DESIGNER
        section.home__hobby
          p.home__index(data-animation='title') 0 4
          h3.home__hobby__title(data-animation='title')  GAMING
          h3.home__hobby__title(data-animation='title')  FOOTBALLER
          h3.home__hobby__title(data-animation='title')  PIANIST 
          .hobby__container
            h3.home__hobby__title(data-animation='title')  MUSIC ADDICT
            p.home__hobby__para(data-animation='title') Can’t live without doing these things ❣️
        section.home__contact
          p.home__index(data-animation='title') 0 5
          p.home__contact__msg WANT TO WORK TOGTHER
          p.home__contact__msg SEND ME A MESSAGE
          a.home__contact__email(href="mailto:sshursun@gmail.com" data-animation='title') hursunss@gmail.com
          a.home____thanks__msg(data-animation="paragraph") THANKS FOR YOUR VISIT! <br/> IF you WANNA KNOW MORE <br/> check out my social page
                                
          .home__thanks__social 
            a.about__social__item(href='https://twitter.com/hursun2004') TWITTER
            a.about__social__item(href='https://www.instagram.com/__hursun_ss__/') instagram
            a.about__social__item(href='https://www.linkedin.com/in/hursun-ss-377659233/') linkedin
        section.home__end
          .home__end__points 1
          a.home__end__points(href='/gallery') 2
          a.home__end__points(href='/spotify') 3
          a.home__end__points(href='/me') 4
          //- .home__end__points 5
          //- .home__end__points 6




          
      