extends ../base.pug

block variables
    -var template = 'hursun'

block content
    .hursun
        .hursun__wrapper
            .hursun__grid 
                .grid__container__item
                    h1.hursun__detail__title hursun
                .grid__container__item
                    h1.hursun__detail__title developer
                .grid__container__item 
                    h1.hursun__detail__title  engineer
                .grid__container__item
                    h1.hursun__detail__title  pianist
                .grid__container__item
                    h1.hursun__detail__title   footballer
                .grid__container__item
                    h1.hursun__detail__title  ambitious asf
                .grid__container__item
                    h1.hursun__detail__title  music addict
                .grid__container__item 
                    h1.hursun__detail__title  18
                .grid__container__item      
                    h1.hursun__detail__title  i am better
            .hursun__detail__container